.carousel-item1,
.carousel-item2,
.carousel-item3 {
  background-size: cover;
  background-position: center;
}

.carousel-item1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://lh3.googleusercontent.com/gps-cs-s/AC9h4nrg89_h50LOFr26FETDv4SXKKERvScIkRy-A1vhFwHSFimj2kvoJqHcc_wgyhok0XeuSAlMq54YbryjToRdoGBCFSdI89eL-VYN5otFkH6hM1Lrer6rYQkN3M9Ow2KEAkxUZx7Z=s680-w680-h510-rw");
}

.carousel-item2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://lh3.googleusercontent.com/proxy/WSs9PIC211aDcXjRw5DgfRG29ADv0Re-v4i4gHhKO2lrfMU863O7KyzxJQ5qg7XgZysdLJKvQnt-Kdm3wa5czxS6DGA48z_5qO3uMbp_4K1h570j40SY7jcr-YPlx91XQRfPcc1-EvfPfB04nuKBkeb1GbvLsQ=s680-w680-h510-rw");
}

.carousel-item3 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://lh3.googleusercontent.com/gps-cs-s/AC9h4nrcbBFzqTrRUTunysyfTLuCeF170salCg35gxIIy9qEIebA_eeCTIGof6GKoMROZAEpgvUdiAlyQgWVDIpDNejiqrny6ZyRxkdVnbtdlhesthf9YOKEXE5qVE1vbTVrMMe0jiii-g=s680-w680-h510-rw");
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next,
.carousel .carousel-indicators {
  display: none;
}

@media only screen and (max-width: 768px) {
  .carousel-item1 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url("https://lh3.googleusercontent.com/gps-cs-s/AC9h4nqSLS3PaliBH14gKmgJccW72oz1c_ooFOiNRyQPUSdxmMvhPhBojU-FmrlLgwRh5L5YcV4mgKd5Jske9356Mzs5Y2vcsLvv0sA7GX92HgDhNkZOTPwjDo4NP-EOPSMsBuxUiawG=s680-w680-h510-rw");
  }

  .carousel-item2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url("https://lh3.googleusercontent.com/gps-cs-s/AC9h4nqsOZs8i340ipLA1nnl75Q-eX-7IJrX0w9GljU-0P6FGxjXnV-zsMffj0ik-42KsLRf-JMZx1JtZGksbB156YPUw-N83gbAjrjxAR1yy0Alc2q7jLKuh12xWGwmncnEjODCbICckg=s680-w680-h510-rw");
  }

  .carousel-item3 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url("https://lh3.googleusercontent.com/gps-cs-s/AC9h4noMMBxeL9rczS-JTYDP86lN-BTCaUI2DzSzc_31bMptD1yQNaU1ywhihbdKo5KWLOOVZ3HT44hjmremrhj8vOIOCYgVzL6gdGOeDkSEyoqAfP1_GpvSKXjHWp4hY3qTISgMqVE9=w141-h235-n-k-no-nu");
  }
}
