.carousel-item1,
.carousel-item2,
.carousel-item3 {
  background-size: cover;
  background-position: center;
}

.carousel-item1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://img.cdn4dd.com/cdn-cgi/image/fit=contain,width=1200,height=672,format=auto/https://doordash-static.s3.amazonaws.com/media/store/header/e47684ae-1046-48ce-b96c-182d0c79262e.png");
}

.carousel-item2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://s3-media0.fl.yelpcdn.com/bphoto/cU5fUk2HM2Khug0dpxbxAw/o.jpg");
}

.carousel-item3 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://s3-media0.fl.yelpcdn.com/bphoto/hseX-fhfnC7xbI6JcmAZZw/o.jpg");
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next,
.carousel .carousel-indicators {
  display: none;
}

@media only screen and (max-width: 768px) {
  .carousel-item1 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url("https://scontent-hou1-1.xx.fbcdn.net/v/t51.75761-15/491439623_18323687281162887_5302037700194866186_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Jx-DBs-q-LcQ7kNvwFsEB3x&_nc_oc=AdnILrYwqnndwNLqaB2uv5iTI62CGBN_Tv2vJyWNtq51ZC_x_LO0qV33NrUqhCHQXJw&_nc_zt=23&_nc_ht=scontent-hou1-1.xx&_nc_gid=CSrrg5gsndvCcJsfYs-2mQ&oh=00_AfQHBQ5wz-w6Hlbrb2W1-2kLCsxs_S1tFtBqdFjmVeamGg&oe=68881D50");
  }

  .carousel-item2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url("https://scontent-hou1-1.xx.fbcdn.net/v/t39.30808-6/495542185_1526868518739600_5827428156583435613_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_ohc=bfdpbPKdSvYQ7kNvwH3tuGX&_nc_oc=AdnXyKlAll1GE3-9HRtCYeoyBftRDgrP9nCvuVxtt5-BfgfE5qjzeM3VMxBrZpuJL3I&_nc_zt=23&_nc_ht=scontent-hou1-1.xx&_nc_gid=hCEAh11oqZMJtJyTkH7pAw&oh=00_AfQmvESUpVuEKBLe3VI9m53DWb86EEpAYhOuLevkmVTroA&oe=68882D75");
  }

  .carousel-item3 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url("https://scontent-hou1-1.xx.fbcdn.net/v/t39.30808-6/495568750_1526868542072931_4444397856767329711_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Q1NdNwVO6lEQ7kNvwFRdieX&_nc_oc=Adken2StUuReGFWf9XaCU57WFMWrvR-SKccjx_Qz7LttZ0r5YZNTCS1syypk74Y258Y&_nc_zt=23&_nc_ht=scontent-hou1-1.xx&_nc_gid=Ux0GkO1wAJGh0bkIbgkQhw&oh=00_AfQLI4eGysfF1iEdb5M3FkPPpXdrMHWPVuxg2_04AND3wQ&oe=68882930");
  }
}
