.carousel-item1,
.carousel-item2,
.carousel-item3 {
  background-size: cover;
  background-position: center;
}

.carousel-item1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://scontent-hou1-1.xx.fbcdn.net/v/t51.75761-15/474903147_18314695156162887_4943171087966747410_n.jpg?stp=dst-jpegr_tt6&_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_ohc=F3rZmWw9-ekQ7kNvwGJ4E77&_nc_oc=AdnUEjGWlUS_GUGXLabeUlW8ZPcY4wppRdIAgVxpCKq6k8Vv1MArje-KI2GfiDDVbD4&_nc_zt=23&se=-1&_nc_ht=scontent-hou1-1.xx&_nc_gid=6MVFafn6gnqn5de46UYBsA&oh=00_AfTSIqVDUcvtpSCOG5tDECq48CV2uaVXEaiKUYNWpml9bw&oe=68884281");
}

.carousel-item2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://scontent-hou1-1.xx.fbcdn.net/v/t39.30808-6/468322879_18308164768162887_8153774761418646511_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=xaArVdqBXQwQ7kNvwH_2gRW&_nc_oc=Adldyvel1m_Od9UU3cFvrfxJAOnJwmUJSdXgOH73Qa4AYPybW8FW7zmp08J2EhInJm4&_nc_zt=23&_nc_ht=scontent-hou1-1.xx&_nc_gid=fUYACe8V2L7WbME6G58Jyg&oh=00_AfQOeTyqYpHFC8K0cdrYSqbyVNTnwLayQmheGoyL5JjA-Q&oe=68884129");
}

.carousel-item3 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://scontent-hou1-1.xx.fbcdn.net/v/t51.75761-15/473694669_18313572319162887_1128194395120254120_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_ohc=lZYETA21968Q7kNvwHu-Ysa&_nc_oc=AdmKvBkeApRF5Xe9PAQ-3ivyL7DGZCQvmMJPU6zPc14vc5W4iF_u_ieSzBBcsBNGr5A&_nc_zt=23&_nc_ht=scontent-hou1-1.xx&_nc_gid=D7yjeRefjd7RMCuzbUhWkQ&oh=00_AfTFVBZkTZmkTUkMFp_K6o7dEDm1xBc98Ns2YzgVb1pZSw&oe=68881A9F");
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next,
.carousel .carousel-indicators {
  display: none;
}

@media only screen and (max-width: 768px) {
  .carousel-item1 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url("https://scontent-hou1-1.xx.fbcdn.net/v/t51.75761-15/491439623_18323687281162887_5302037700194866186_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Jx-DBs-q-LcQ7kNvwFsEB3x&_nc_oc=AdnILrYwqnndwNLqaB2uv5iTI62CGBN_Tv2vJyWNtq51ZC_x_LO0qV33NrUqhCHQXJw&_nc_zt=23&_nc_ht=scontent-hou1-1.xx&_nc_gid=CSrrg5gsndvCcJsfYs-2mQ&oh=00_AfQHBQ5wz-w6Hlbrb2W1-2kLCsxs_S1tFtBqdFjmVeamGg&oe=68881D50");
  }

  .carousel-item2 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url("https://scontent-hou1-1.xx.fbcdn.net/v/t39.30808-6/495542185_1526868518739600_5827428156583435613_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_ohc=bfdpbPKdSvYQ7kNvwH3tuGX&_nc_oc=AdnXyKlAll1GE3-9HRtCYeoyBftRDgrP9nCvuVxtt5-BfgfE5qjzeM3VMxBrZpuJL3I&_nc_zt=23&_nc_ht=scontent-hou1-1.xx&_nc_gid=hCEAh11oqZMJtJyTkH7pAw&oh=00_AfQmvESUpVuEKBLe3VI9m53DWb86EEpAYhOuLevkmVTroA&oe=68882D75");
  }

  .carousel-item3 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url("https://scontent-hou1-1.xx.fbcdn.net/v/t39.30808-6/495568750_1526868542072931_4444397856767329711_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Q1NdNwVO6lEQ7kNvwFRdieX&_nc_oc=Adken2StUuReGFWf9XaCU57WFMWrvR-SKccjx_Qz7LttZ0r5YZNTCS1syypk74Y258Y&_nc_zt=23&_nc_ht=scontent-hou1-1.xx&_nc_gid=Ux0GkO1wAJGh0bkIbgkQhw&oh=00_AfQLI4eGysfF1iEdb5M3FkPPpXdrMHWPVuxg2_04AND3wQ&oe=68882930");
  }
}
